<h1 class="text-4xl font-bold mb-4">Topics</h1>
<ul class="list-disc list-inside">
  <% @topics.each do |topic| %>
    <li class="mb-2"><%= link_to topic.name, topic_path(topic), class: "text-indigo-600 hover:underline" %></li>
  <% end %>
</ul>
